@using WebApplication2.Models
@model DataModel


<h2>Data</h2>

@using (Html.BeginForm("Data", "Home", FormMethod.Post))
{
    @Html.RadioButton("color", "red")<span>красный</span>
    <br />
    @Html.RadioButton("color", "blue") <span>синий</span>
    <br />
    @Html.RadioButton("color", "green", true) <span>зеленый</span>
    <br />
    @Html.DropDownList("colors", new SelectList(new string[] { "red", "blue" }, "red"))
    <br />
    @Html.ListBox("countires", new MultiSelectList(new string[] { "Россия", "США", "Китай", "Индия" }, "Россия"))
    <br />
    <button type="submit">submit</button>
    <br />
    @Html.Label((string)ViewBag.Text);
}

